* {
    background-color: rgb(120, 120, 120);
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --foreground: #f5ffd6;
    --background: rgb(120, 120, 120);
    --form-background: rgba(245, 255, 214, 225);
    --light-gray: rgb(240, 235, 235);
    --dark-green: dark-green;
  }


#container {
    height: 100vh;
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 2fr [c3];
    grid-template-rows: [r1] .35fr [r2] 4fr [r3] .2fr [r4];
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
}

#header {
    text-align: left;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    color:darkgreen;
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r1;
    grid-row-end: r2;
    background-color: var(--foreground);
    
}

#nav-panel{
    width: auto;
    background-color: var(--foreground);
    gap: 10px;
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r2;
    grid-row-end: r3;
    display: flex;
    flex-direction: column;
}

#nav-panel-top,
#nav-panel-bottom {
    
    margin-top: 20px;
    padding-left: 20px;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
}

#nav-panel-top>div{
    margin-top: 20px;
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-panel-bottom {
    margin-top: 10px;
    background-color: var(--foreground);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

#add-project-label {
    background-color: var(--foreground);
    font-size: 18px;
    margin-left: 2px;
}

#project-input{
    margin: 0;
    background-color: var(--foreground);
}

#new-project-input{
    background-color: var(--form-background);
    border-radius: 5px;
}

#inbox-label,
#today-label,
#this-week-label {
    padding-left: 10px;
    margin: 0;
}

i {
    margin: 0;
    padding: 0;
    background-color: var(--foreground);
}

#add-project-icon{
    cursor: pointer;
    margin-left: 20px;
}

#nav-panel-top>div>p{
    font-size: 18px;
    margin-left: 10px;
    background-color: var(--foreground);
}

#display {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r3;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    margin: 0;
}

.display-icons{
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
}

#display-head1, #display-head2{
    font-size: 18px;
    background-color: var(--foreground);
    margin: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-task-label, #refresh-label{
    margin-left: 10px;
    background-color: var(--foreground);
}

#display-title{
    font-weight: 600;
    color: darkgreen;
    margin-top: 10px;
    background-color: var(--foreground);
}

#project-list{
    padding-left: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--foreground);
    
}

.projItem{
    margin: 5px 5px 0 0;
    background-color: var(--light-gray);
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projItem>p{
    margin: 5px;
    padding: 0 0 0 20px;
    background-color: var(--light-gray);
}

.proj-del-button{
    cursor: pointer;
    width: 25px;
    margin: 5px 20px 5px 0;
    background-color: antiquewhite;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

.project-click{
    cursor: pointer;
}

.new-div{
    background-color: var(--foreground);
}

#add-task-icon{
    cursor: pointer;
}

#task-form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--foreground);
}

#task-form{
    margin: 10px 20px 20px 10px;
    font-size: 18px;
    background-color: var(--foreground);
    border: 1px darkgreen solid;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.task-form-item{
    font-size: 18px;
    background-attachment: var(--light-gray);
    padding: 5px 5px 5px 10px;
    border: 1px darkgreen solid;
}

#task-table{
    padding: 10px;
    margin: 10px 0 10px 0;
    font-size: 16px;
    width: 850px;
    border: 2px darkgreen groove;
    border-radius: 10px;
    background-color: var(--foreground);
}

#task-table-container{
    background-color: var(--foreground);
    padding: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-row{
    text-align: center;
    height: 40px;
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

td{
    text-align: center;
    height: auto;
    width: auto;
    pointer-events: none;
    padding: 2px;
    background-color: var(--foreground);
    position: relative;
}

.strikeout{
    position: relative;
    text-decoration: line-through;
    color: red;
}
  
.task-delete-button{
    background-color: antiquewhite;
    pointer-events: all;
    width: auto;
    height: 25px;
    margin: 5px 20px 5px 0;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

.task-project, 
.task-desc, 
.task-dueDate, 
.task-priority{
    margin: 0;
    /* padding-left: 10px; */
    background-color: var(--foreground);
    text-align: left;
}

input{
    border-radius: 5px;
    font-size: 14px;
}

.delete-button{
    background-color: var(--light-gray);
    margin: 5px 0 5px 0;
    padding: 0px 5px 0 5px;
    font-size: 18px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

form{
    margin: 5px;
    width: auto;
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

form>input{
    padding-left: 5px;
    background-color: var(--foreground);
    font-size: 18px;
}

input[type=text] {
    border: 1px rgb(120, 120, 120) solid;
}

/* #task-cb-table-db-container{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* #checkbox-container,
#task-delete-btn-container{
    background-color: var(--light-gray);
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    flex: 0;
} */

#task-container{
    width: 850px;
}

#footer {
    background-color: var(--foreground);
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r3;
    grid-row-end: r4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}