/* WEBPAGE STANDARDS */

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
COLOR SCHEME
PRIMARY COLOR: #fff9db
color: rgba(255, 249, 219, 0.532);
SECONDARY COLOR:  (highlight)
ACCENT COLOR: #3b14af
GRAY COLOR: #7459C3
*/

* {
    background-color: rgb(100, 100, 100);
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --foreground: #fff9db;
    --foreground-transparent: rgba(255, 249, 219, 0);
    --background: #7459C3;
    --background-gradient: rgb(201, 186, 247);
    --form-background: rgb(245, 255, 214);
    --accent-color: #3b14af
    --dark-green: darkgreen;
    --light-bluegray: #e2e8f0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 2fr [c3];
    grid-template-rows: [r1] .35fr [r2] 4fr [r3] .2fr [r4];
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#header {
    text-align: left;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    color:darkgreen;
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r1;
    grid-row-end: r2;
    /* background-color: var(--foreground); */
    background: linear-gradient(.25turn,var(--foreground), 10%, var(--background-gradient));
    
}

#nav-panel{
    width: auto;
    background: linear-gradient(.25turn,var(--foreground), 10%, var(--background-gradient));
    gap: 20px;
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r2;
    grid-row-end: r3;
    display: flex;
    flex-direction: column;
}

#nav-panel-top,
#nav-panel-bottom {
    white-space: nowrap;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 65%;
    padding-left: 5px;
    background-color: var(--foreground-transparent);
    display: flex;
    flex-direction: column;
}

#nav-panel-top{
    
    font-size: 20px;
}

#nav-panel-bottom{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: darkgreen;
    text-shadow: 2px 2px 2px gray;
}

#inbox-icon-div{
    margin-top: 10px;
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#today-icon-div{
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#thisweek-icon-div{
    background-color: var(--foreground);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    margin-bottom: 10px;
}

#inbox-icon,
#today-icon,
#thisweek-icon{
    scale: 150%;
    stroke: var(--dark-green);
    background-color: var(--foreground);
    cursor: pointer;
}

.icon-container{
    display: flex;
    flex-direction: row;
    background-color: var(--foreground);
}

.icon-container p{
    margin-left: 5px;
    background-color: var(--foreground);
}

#top-icons-container{
    margin-left: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--foreground);
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 3px 5px rgba(150, 50, 50, .50);
}


#add-project-icon{
    background-color: var(--foreground-transparent);
    cursor: pointer;
    width: 30px;
    margin-left: 20px;    
}

#add-project-label {
    background-color: var(--foreground-transparent);
    font-size: 22px;
    font-weight: 700;
    /* margin-left: 2px; */
}

#project-input{
    margin: 0;
    /* background-color: var(--foreground); */
    background: linear-gradient(.25turn,var(--foreground), 10%, var(--background-gradient));
}

#new-project-input{
    background-color: var(--light-bluegray);
    border-radius: 4px;
}

/*  */

#add-task-icon,
#refresh-icon{
    font-size: 30px;    background-color: var(--foreground-transparent);
    cursor: pointer;
    width: 30px;
    margin-left: 20px;    
}

#nav-panel-top>div>p{
    font-size: 18px;
    margin-left: 10px;
    background-color: var(--foreground-transparent);
}

#display {
    background-image: url('https://img.freepik.com/free-photo/squared-paper-texture_23-2147786544.jpg');
    background-size: 50%;
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r3;
    column-gap: 20px;
    row-gap: 20px;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    margin: 0;
}

.display-icons{
    background-color: var(--foreground-transparent);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#display-head1, #display-head2{
    background-color: var(--foreground-transparent);
    margin: 0;
    /* padding-left: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-task-label, #refresh-label{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 10px;
    background-color: var(--foreground-transparent);
}
#display-title{
    font-size: 42px;
    text-shadow: 2px 2px 2px gray;
    color: darkgreen;
    margin-right: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--foreground-transparent);
    justify-content: flex-start;
}

#project-list{
    padding-left: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--foreground-transparent);
   
}

.projItem{
    margin: 5px 20px 10px 0;
    background-image: url('https://img.freepik.com/free-photo/squared-paper-texture_23-2147786544.jpg');
    background-size: 52%;
    /* background-color: var(--light-bluegray); */
    border: 2px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(150, 50, 50, .50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projItem>p{
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    padding: 0 0 0 20px;
    background-color: var(--light-gray);
}

.proj-del-button{
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 5px 20px 5px 0;
    background-color: rgb(255, 166, 0);
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 150);
    font-size: 12px;
    padding: 3px;
    text-align: center;
    margin-right: 10px;
    border-radius: 2px;
}

.project-click{
    cursor: pointer;
}

.new-div{
    background-color: var(--foreground-transparent);
}

#task-form-container{
    /* background-color: rgba(201,186,247,0.5); */
    background-color: var(--foreground-transparent);
}

#task-form{
    margin: 0 20px 0 10px;
    font-size: 18px;
    background-color: var(--foreground-transparent);
    border: 2px darkgreen solid;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.6);
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.task-form-item{
    font-size: 18px;
    background-attachment: var(--light-gray);
    padding: 5px 5px 5px 10px;
    border: 1px darkgreen solid;
}

#task-table-container{
    background-color: var(--foreground-transparent);
    margin: 0 26px 20px 0;
}

#task-table-header{
    font-weight: 500px;
}

table {
    background-color: var(--foreground-transparent);
    /* border-collapse: collapse; */
    border-spacing: 1px;
    border-radius: 3px;
    width: 100%;
    margin: 20px 10px 0px 10px;
  }
  
th, td {
    font-size: 18px;
    font-weight: 700px;
    background-color: var(--foreground);
    border: 3px solid rgba(115, 89, 195, 0.5);
    padding: 2px 10px 2px 10px;
    border-radius: 2px;
}

th{
    text-align: left;
    padding: 10px 0 10px 10px;
}

.task-row{
    background-color: var(--foreground-transparent);
}

#task-table-body{
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.6);
}

#task-table-header{
    box-shadow: 3px 0 3px rgba(50, 50, 50, 0.6);
}

.strikeout{
    position: relative;
    text-decoration: line-through;
    color: red;
}

.strikeout-button-container{
    text-align: center;
}

.complete-date{
    color: red;
}

.delete-task-button-container{
    background-color: var(--foreground);
    text-align: center;
}

.task-delete-button,
.task-strikeout-button,
#move-task-button{
    width: 25px;
    height: 25px;
    background-color: rgb(146, 212, 115);
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 150);
    cursor: pointer;
    pointer-events: all;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

#move-task-button{
    background-color: #7459C3;
    width: 25px;
    height: 25px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 150);
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

.submit-move-button{
    width: auto;
    background-color: #7459C3;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 150);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-move-button{
    background-color: var(--background);
}

.move-task-button-container{
    text-align: center;
}

#move-project{
    background-color: var(--foreground-transparent);
    margin-left: 20px;
}


.task-delete-button{
    background-color: rgb(255, 166, 0)
}

.high-priority{
    background-color: rgba(255, 0, 0, 0.377); 
}

input{
    border-radius: 2px;
    font-size: 14px;
}

.delete-button{
    margin: 5px 0 5px 0;
    padding: 0px 5px 0 5px;
    font-size: 18px;
    height: 25px;
    border-radius: 2px;
    text-align: center;
}

form{
    margin: 5px;
    width: auto;
    background-color: var(--foreground-transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

form>input{
    padding-left: 5px;
    background-color: var(--foreground);
    font-size: 18px;
}

input[type=text] {
    border: 3px rgb(120, 120, 120) solid;
}

#footer {
    background: linear-gradient(.25turn,var(--foreground), 10%, var(--background-gradient));
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r3;
    grid-row-end: r4;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a:link{
    font-family: Roboto sans-serif;
    font-size: 18px;
    background-color: var(--foreground-transparent);
}